@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
.why_us {
    padding: 120px 0;
    background-color: #F9F9F9;
    ;

    .container {
        .why_us-title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            color: #003C68;
            margin-bottom: 78px;
            text-align: center;
        }

        .service_list {
            display: flex;
            justify-content: space-between;
            column-gap: 30px;

            .service_item {
                padding: 30px 20px;
                background-color: #fff;
                box-shadow: 0px 15px 30px -5px rgba(0, 0, 0, 0.05);

                .service_img__wrapper {
                    width: 90px;
                    height: 90px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: #E29500;
                    margin-bottom: 30px;

                    .service_img {
                        width: 43.75px;

                    }
                }

                .service_img__title {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 27px;
                    color: #003C68;
                    margin-bottom: 15px;
                }

                .service_img__description {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    color: #000000;
                    opacity: 0.5;
                }
            }
        }
    }
}
@media screen and (max-width:576px) {
    .why_us{
        padding: 50px 0;
        .container{
            .why_us-title{
                font-size: 28px;
line-height: 34px;
            }
            .service_list{
                flex-direction: column;
                align-items: center;
                row-gap: 40px;
                .service_item{
                    width: 90%; 
                }
            }

        }
    }
}